#sidebar {

    width: calc(30% - 2rem);
    text-align: center;
    padding: 1rem;
}

@media (width < 800px) {
    #sidebar {
        width: calc(100% - 2rem);
        min-height: fit-content;
    }
}