#item {
    background-color: rgb(19, 59, 19);
    min-height: fit-content;
    height: 100px;
    width: 75%;
    max-width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    border-bottom: solid black 3px;
    z-index: 0;
}