#main {
    max-width: 100%;
    min-width: fit-content;
    width: 100%;
    background-color: rgb(3, 37, 59);
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-right: solid black 25px;
}

@media (width < 800px) {
    #main {
        border: none;
    }
}