#content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    flex-grow: 1;
}

#loading {
    margin: 5% auto;
    width: 50%;
    text-align: center;
}

@media (width < 800px) {
    #content {
        flex-direction: column;
        align-items: center;
    }
}