#ingredient {
    display: flex;
    max-width: fit-content;
    margin: auto 10px;
    flex-grow: .10;
    justify-content: center;
    align-items: center;
}

.ingredient-img {
    height: auto;
    min-width: 30px;
    max-width: 85px;
    width: 100%;
}

.ingredient-quantity {
    margin-left: 5px;
    white-space: nowrap;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}