#ingredient {
    display: flex;
    max-width: fit-content;
    margin: auto 10px;
    flex-grow: .10;
    justify-content: center;
    align-items: center;
}

.ingredient-img {
    height: auto;
    margin: auto;
    min-width: 50px;
    max-width: 75px;
    width: 80%;
}

.ingredient-quantity {
    margin-left: 5px;
    white-space: nowrap;
}