#top {
    background-color: black;
    display: flex;
    justify-content: center;
}

#top-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    min-width: fit-content;
    padding: 1rem;
    border: solid red 2px;
    text-align: center;
}