#footer {
    min-height: fit-content;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top: auto;
    padding: .5rem 0;
    width: 100%;
    text-align: center;
    border-top: solid white 2px;
}

#footer-copyright {
    margin: 0;
    padding: 0;
}