#header {
    background-image: url('/src/Images/texture-paper-background-parchment.jpg');
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 1rem 2rem;
    gap: 2rem;
}

#header-image {
    height: auto;
    min-width: 100px;
    max-width: 115px;
    width: 100%;
}

#header-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

#header-title {
    padding: 0;
    margin: 0;
    max-width: fit-content;
}

#header-input-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    margin: 10px 0px;
}

#header-input {
    max-width: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(3, 37, 59);
    border-radius: 10px;
    margin-bottom: 5px;
}

#header-input-button {
    background-color: rgb(192, 1, 1);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

#header-input-button:hover {
    background-color: rgb(204, 56, 2);
}

#header-input-button:active {
    background-color: rgb(3, 37, 59);
}